@page "/Component/dashboardLO"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts

<h3>DashboardLO</h3>
@*
    CellSpacing : 패널 사이의 간격을 정의
    대시보드 레이아웃 패널은 HeaderTemplate, ContentTemplate 두 섹션으로 구성이 된다.    
    Columns : 각 행의 총 셀 수 지정, CellAspectRatio : 셀 높이 크기 지정.
    Column, Row : 패널 위치 , SizeX : 너비, SizeY : 높이 
    ShowGridLines="true" : 눈금, AllowResizing="true" : 패널 크기 지정
*@
<SfDashboardLayout CellSpacing="@(new double[]{10 ,10 })" CellAspectRatio="2" Columns="5" AllowResizing="true">
    <DashboardLayoutPanels>
        <DashboardLayoutPanel>
            <HeaderTemplate><div>Panel 0</div></HeaderTemplate>
            <ContentTemplate><div>Panel Content</div></ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel SizeX=2 SizeY=2 Column=1>
            <HeaderTemplate><div>Panel 1</div></HeaderTemplate>
            <ContentTemplate><div>Panel Content</div></ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel SizeY=2 Column=3>
            <HeaderTemplate><div>Panel 2</div></HeaderTemplate>
            <ContentTemplate><div>Panel Content</div></ContentTemplate>
        </DashboardLayoutPanel>
        <DashboardLayoutPanel Row=1>
            <HeaderTemplate><div>Panel 3</div></HeaderTemplate>
            <ContentTemplate><div>Panel Content</div></ContentTemplate>
        </DashboardLayoutPanel>
        
        @*<DashboardLayoutPanel>
            <HeaderTemplate><div>Panel 1</div></HeaderTemplate>
            <ContentTemplate><div>Content</div></ContentTemplate>
        </DashboardLayoutPanel>*@
    </DashboardLayoutPanels>
</SfDashboardLayout>

@code {

}


<style>
    .e-panel-header {
        background-color: rgba(0, 0, 0, .1);
        text-align: center;
    }

    .e-panel-content {
        text-align: center;
        margin-top: 10px;
    }
</style>